.frm1{
	border: 1px solid #d3d3d3;
  padding-bottom: 16px;
  margin: 16px 8px auto;
}
div.fck_authorsinput {
  display: inline;
}
.tit{
	font-weight: bold;
  font-style: italic;
  font-size: 18px;
  font-family: initial;
  margin: 10px 20px -5px;
}
.tit_hiden{
	  font-size: 12px;
  margin: 0px 20px 15px;

	}
.form-control{width:60%;float:right; margin-right:100px;margin-top:-8px;}
.form-group{padding:10px;}
label{
	font-size:12px;
	font-weight:100;
	margin-left:15px;
	}
.frm2{
	border: 1px solid #d3d3d3;
  padding-bottom: 16px;
  margin: 16px 8px auto;
}
.checkbox{
	margin-left:20px !important;
}
.div_span{
	margin: 0px 40px;
	  margin-top: -15px;
	  font-size:13px;
}
.btn{margin:15px 30px; background:#F0AD00}