@font-face {
    font-family: 'digital';
    src: url('digital.ttf');
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #DCDCDC;
    max-height: 500px;
}

.container {
    display: block;
    margin: 70px auto 50px auto;
    width: 350px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    border: 1.6px solid;
}

.form-group {
    padding: 10px;
}

.form_calc {
    padding-left: 10px;
    padding-right: 10px;
    border: 1.5px solid;
    text-align: right;
}

.form_calc p {
    font-family: 'digital';
}

.nav_num {
    display: inline-block;
    text-align: center;
}

.nav_num input {
    width: 10%;
    text-align: center;
    outline-style: none;
}

#st_value,
#nd_value,
#func_value {
    font-size: large;
    display: inline;
}

.num_text {
    margin: 15px auto 15px auto;
}

.form_func {
    height: 333.5px;
    border: 1.5px solid;
    max-height: 367px;
    max-width: 340px;
}

.btn_area {
    display: inline-block;
    margin: 5px 5px;
    margin-left: 5px;
    padding-left: 6px;
    height: 50.5%;
    max-height: 60%;
    border: 0.1px solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

.num_area {
    float: left;
    max-width: 75%;
}

.func_area {
    float: left;
    max-width: 25%;
}

.calc_result {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 95%;
    border: 0.1px solid transparent;
}

/* Button Area */
button {
    margin: 10px 7px 10px 7px;
    width: 56.3px;
}

.num_area button.clear_btn {
    width: 130.5px;
}

.func_area button {
    width: 59px;
}

button.calc_btn {
    width: 95.6%;
}

/* Hidden Items below */
#tmpA,
#tmpB,
#func {
    display: none;
    margin-left: 10px;
    max-width: 50px;
}